@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: 400;
    src: local("TT Lakes"),
        url(fonts/TTLakes-Regular.woff) format("woff");
}

@font-face {
    font-family: "TTLakes-Bold";
    font-style: normal;
    font-weight: bold;
    src: local("TTLakes-Bold"),
    url(fonts/TTLakes-Bold.woff) format("woff");
}


.body {
    margin: 0;
    max-width: 100%;
    font-family: "TT Lakes", "Arial", sans-serif;
}

.header {
    display: flex;
    margin: 0;
    max-width: 100%;
    height: 88px;
    color: #FFFFFF;
    padding: 0;
    padding-left: 16px;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
}

.topbars {
    display: flex;
}

.topbar {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.topbar-768px {
    display: flex;
    align-items: center;
    justify-self: end;
}

@media screen and (max-device-width: 767px){
    .topbar-768px {
        display: none;
    }
}

.button {
    padding: 0;
    margin: 0;
    margin-right: 16px;
    border: none;
    background-color: white;
}

.header__logo {
    margin-right: 17px;
    height: 51px;
}

.topbar__divider {
    height: 32px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
}

.title {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    height: 40px;
}

.title__highlight {
    margin: 0;
    margin-right: 12px;
}

.main {
    padding-top: 24px;
    margin: 0;
    background: #F8F8F8;
}

.content {
    padding: 16px;
    padding-top: 0;
}

.menu {
    display: flex;
    overflow-x: auto;
    min-height: 40px;
    justify-content: flex-start;
    margin-left: 16px;
}

.menu::-webkit-scrollbar {
    width: 0;
}

.title__h1 {
    padding: 0;
    margin: 0;
    font-family: TTLakes-Bold;
}

.menu__text {
    white-space: nowrap;
    text-align: center;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}

.menu__link {
    padding: 8px;
    text-decoration: none;
    border: 2px solid transparent;
}

.menu__link:hover {
    border: 2px solid #B8FFEC;
    border-color: #B8FFEC;
    border-radius: 6px;
    background-color: white;
}

.content__button {
    border: none;
    background-color: transparent;
}

.content__img {
    margin-right: 17px;
}

.img-cps {
    width: 100%;
}

.content__span-1 {
    display: none;
}

.content__span-2 {
    display: none;
}